.italic-title {
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    color: var(--color-secondary-black);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    @media screen and (min-width:$bp-tablet) {

        font-size: 54px;
    }

    @media screen and (min-width:$bp-desktop) {
        padding-bottom: 78px;
        font-size: 64px;
    }
}

.uppercase {
    text-transform: uppercase;
}