:root {
    --color-primary-dark: #575D65;
    --color-secondary-grey: #979797;
    --color-secondary-brown: #BAA598;
    --color-secondary-black: #363636;
    --color-border-grey: #E5E5E5;
    --color-white: #FFFFFF;
    --color-range: #C4C4C4;
    --filter-bg: hsla(23, 16%, 59%, 0.1);
    --black: #000000;
    --titles: #BAA598;
    --milk: #FDFBF8;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;