.mobile-filter {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 370px;
    height: 97%;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 250;
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);



    &.is-open {
        transform: translateX(0);
    }

    &__btn-open {
        display: flex;
        width: 50px;
        height: 50px;
        z-index: 200;
        background-color: #eee;
        border: none;
        padding: 10px;
        margin: 15px 15px 33px;
        border-radius: 6px;
        cursor: pointer;

        @media screen and (min-width:$bp-desktop) {
            display: none;
        }
    }

    &__btn-close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border: 1px solid green;
        width: 250px;
        height: 35px;
        z-index: 3;
        cursor: pointer;
        background-color: green;
    }

    &__filter {
        display: flex;
        align-items: center;

        @media screen and (min-width:$bp-desktop) {
            display: none;
        }
    }

    &__nav {
        margin-top: 20px;
    }

    &__section {
        margin-bottom: 20px;
    }

    &__rating {
        width: 260px;
    }
}

.mobile-filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 200;
}

.mobile-filter-overlay.active {
    display: block;
}